@charset "utf-8";

/*  CSS Document    */

#contenedor {
    width: 1000px;
    position: relative;
    margin: auto;
}

#zonaFormulario {
    float: left;
    padding: 30px;
    border: 2px solid blue;
}

#zonaDatos {
    float: right;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 2px dashed green;
}

.directorio {
    color: green;
    font-weight: bold;
    cursor: pointer;
}